.css {
  .html,
  .import,
  .attribute-name {
    font-weight: bold;
    color: black;
  }

  .string,
  .variable,
  .property-value,
  .constant {
    color: @red;
  }

  .variable:first-child {
    color: @black;
  }

  .punctuation {
    color: @black;
  }
}
